###########
# Solidity
###########
*.abi
*.bin


##########
# Modules
##########
node_modules
*/node_modules
.next

###############
# Secret Stuff
###############
.env
.encryptedKey.json

##########
# Hardhat
##########
artifacts
cache
coverage
deployments
gas-report.txt
coverage.json
