###########
# Solidity
###########
*.abi
*.bin


##########
# Modules
##########
/node_modules

###############
# Secret Stuff
###############
.env
.encryptedKey.json

##########
# Hardhat
##########
artifacts
cache
gas-report.txt
